button,
input,
textarea {
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

div {
    transition: none;
    background-color: transparent;
}

#turn {
    margin: 1rem;
    padding: 1rem;
}

#wrapper {
    resize: horizontal;
    padding: 0;
}

#chessBoard {
    width: calc(50% - 1rem);
    background-color: transparent;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
}

#fenOutput {
    background-color: hsl(240, 20%, 20%);
}

#turn {
    color: Black;
    background-color: hsl(240, 90%, 90%);
}

#sidebar {
    flex-flow: column nowrap;
}

#sidebar * {
    width: calc(100% - 1rem);
}

#pieceToolbar {
    display: grid;
    grid: auto / auto auto;
}

img {
    width: 4rem;
    padding: 0;
}

.pieceButton {
    padding: 0;
}

.dark, .dark img {
    background-color: hsl(240, 90%, 90%);
}