body {
    grid: auto / 1fr 1fr 1fr;
    width: calc(100% - 2 * var(--base-unit));
    height: calc(100% - 2 * var(--base-unit));
}

#turn {
    margin: 1rem;
    padding: 1rem;
}

#turn {
    color: light-dark(var(--light-1), var(--dark-1));
    background-color: light-dark(var(--dark-1), var(--light-1));
}

#sidebar {
    grid: auto / 1fr;
    width: 100%;
    height: 100%;
}

#pieceToolbar {
    grid: auto / 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.dark img {
    background-color: var(--dark-2);
    padding: 0;
    width: 100%;
}

.light img {
    background-color: var(--light-2);
    padding: 0;
    width: 100%;
}

.pieceButton {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.pieceButton:active {
    background-color: light-dark(var(--light-2), var(--dark-2));
}

#wrapper {
    width: 100%;
    grid: auto / 1fr;
}

#chessBoard {
    padding: 0;
    width: 100%;
}